rpi-4b-1 ansible_host=192.168.1.13 ansible_user=jdurbin ansible_python_interpreter=/usr/bin/python3
rpi-4b-2 ansible_host=192.168.1.14 ansible_user=jdurbin ansible_python_interpreter=/usr/bin/python3
rpi-4b-3 ansible_host=192.168.1.18 ansible_user=jdurbin ansible_python_interpreter=/usr/bin/python3
rpi-3bplus-1 ansible_host=192.168.1.15 ansible_user=jdurbin ansible_python_interpreter=/usr/bin/python3

[hashiservers]
rpi-4b-1
rpi-4b-2
rpi-4b-3

[pi4]
rpi-4b-1
rpi-4b-2
rpi-4b-3

[audio_sharing]
rpi-3bplus-1