apiVersion: argoproj.io/v1alpha1
kind: AppProject
metadata:
  name: home-pi
  namespace: {{ argocd_vars.kubernetes.namespace }}
spec:
  description: Everything in the home-pi-gitops repo
  sourceRepos:
    - '*'
  destinations:
    - namespace: '*'
      server: https://kubernetes.default.svc
  clusterResourceWhitelist:
    - group: '*'
      kind: '*'
