apiVersion: v1
kind: Secret
metadata:
  name: {{ victoriametrics_map.credentials.secret }}
  namespace: {{ victoriametrics_vars.kubernetes.namespace }}
type: Opaque
stringData:
  admin-user: {{ victoriametrics_vars.kubernetes.grafana.admin.user }}
  admin-password: {{ victoriametrics_vars.kubernetes.grafana.admin.password }}
