apiVersion: v1
kind: Secret
metadata:
  name: {{ adguardhome_map.secret.exporter_creds }}
  namespace: {{ adguardhome_vars.kubernetes.namespace }}
type: Opaque
stringData:
  ADGUARD_USERNAMES: {{ adguard_home_admin_username | default('admin') }}
  ADGUARD_PASSWORDS: {{ adguard_home_admin_password }}
